@charset "UTF-8";

.patient-container {
	width: 100%;
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: center;
	
}

.patient-left {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap:10px;
}

.patient-right{
	display : flex;
	justify-content:center;
	align-items: center;
	justify-content: space-around;
}
.profile{
	border-radius:50%;
	height:40px;
}
.patient-cards {
	width: 300px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.patient-card {
	display: flex;
	flex-direction: column;
	gap: 15px;
	box-shadow: 1px 1px 1px 1px rgba(96, 95, 95, 0.5);
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 300px;
	border-radius:5px;
	background-color: rgba(3, 30, 55, 0.2)
}
.inf{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.Search-form {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.Search-form input {
	width: 400px;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	border: 2px solid rgb(225, 224, 224);
}



.search-btn {
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
		padding: 10px;
	width: 400px;	
		background-color: #007bff;
	
}

